
$roboto: 'Roboto',sans-serif;
$raleway: 'Raleway',sans-serif;



$white-color: #fff ;
$primary-color: #4b2e83;
$primary-dark: #e8e3d3;

$secondary-color: #3b1d82;

$blue-bg: #120f4e;
$primary-blue: #3a6af0;
$title-color: #222222;
$gray-color: #a9a9a9;
